<%- include('../partials/header') %>
    <form action="/skills" method="POST">
       <label >Skill: </label> <input type="text", name="skill">
        <label >proficiency: </label><input type="text", name="proficiency">
        <button type = "submit">Save Skill</button>
    </form>
<%- include('../partials/footer') %>
